*{/*Todos los margenes externos e internos van a estar ajustados a todo el tamaño del explorador*/
    margin: 0px;
    padding: 0px;
}
body{/*Tipo de letra de mi documento y el color de fondo*/
    background: #ece2c6;
    font-family: 'Amatic SC', cursive;
    background-image: url("../galeria/fonfo.JPEG");
    background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
h1{/*El texto alineado al centro,colocado su posicion margin/pading tamaño y color*/
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    color: peru;
    font-size: 70px;
}
/*Vamos a jugar con el contenedor galeria*/
.contenedor-galeria{
    width: 800px; /*Tamaño del contenedor para poder mostrar las 5 imagenes*/
    height: 320px;/*Altura del contenedor*/
    overflow: hidden;/*Cuando haya un desbordamiento de las imagenes no sobresalgan por fuera la caja queden como cubiertas*/
    margin: 50px auto;/*Luego un margin de 50 arriba y abajo y automatico laterales*/
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);/*Efecto de sombreado*/
}
.contenedor-galeria li{
    position: relative;/*Que dependan del elemento padre*/
    display: block;/*Bloque comun*/
    width: 160px;/*Anchura de estos elementos (800px del contenedor % 5 imagenes = 160px por imagen*/
    float: left;/*Para que el posicionamiento sea de izq a der*/
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);/*Efecto de sombreado*/
    transition: all 0.5s;/*Todas las transiciones de 0.5s*/
}
.contenedor-galeria ul:hover li{
    width: 40px; /*Tamaño que coja por 800px-640px=160px%4=tamaño de las imagenes aplicando el hover*/
    filter: brightness(50%);/*Filtro del CSS con bri... para darle efecto 50% respecto al color que tengo en ese momento*/
}
.contenedor-galeria ul li:hover{
    width: 640px;/*Tamaño imagen*/
    filter: brightness(100%);/*La "limunosidad" 100%*/
}
.contenedor-galeria li img{/*La lista desordenada con los elementos que contienen las imagenes*/
   display: block;/*Todos un bloque*/
   width: 640px;/*Con un tamaño de 640px anchura foto*/
   height: 100%;/*"Tamaño 100%"*/
}
.titulo-imagen{/*Voy con el titulo de las imagenes*/
    background: rgba(0, 0, 0, 0.8);/*Color de fondo*/
    position: absolute;/*...*/
    top: 100%;
    width: 100%;
    display: block;
    transition: all 0.5s ease;/*Que vaya un poco más rapido más lento más rapido...*/
    animation: cambia-color 10s linear infinite;/*Cambie colores*/
    background-size: 400% 400% ;/*Aumentar tamaño*/ 
}
@keyframes cambia-color{
    0%{
        background-position: 0%, 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
    100%{
        background-position: 0%, 100% ;
    }
}
.titulo-imagen a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    text-shadow: 0 1px 2px #000000;
    transition: all 0.5s ease;
}
.contenedor-galeria ul li:hover .titulo-imagen{
    top: 0%;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);/*10px del video*/
}
.titulo-imagen:hover a{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.titulo-imagen:active{
    background: rgba(225, 225, 225, 0.5);
}
